#header { 
	background:#894186;
	border-radius: 15px;
	
	height:100px;
	padding:20px 20px 20px 20px;

}
.logo { 
	float:right;
	padding: 0px 50px 0px 0px;
}
#nav { 
	float:left;
}
#nav ul {
	list-style:none;
	margin:0;
	padding:0;
}
#nav ul li {
	float:right;
}

.container { 
    background-image: url('../images/sajt_unident_pro.jpg');
/*	background:url(images/sajt_unident_pro.jpg) center center repeat fixed;*/
        max-width: 100% !important;
        margin:0;
	overflow:hidden;
	border: 2px solid #894186;
        border-radius: 15px;
}


.dugme {
	background: rgba(9, 65, 201, 0);
    border: 2px solid #894186;
    border-radius: 15px;
    color: #894186;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
    padding: 14px 28px 13px;
	margin:20px 5px;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.dugme:hover {
	background: rgba(9, 65, 201, 1);
	color:#fff;
}
.negativ { 
	color:#fff;
}
.negativ a:link,
.negativ a:visited { 
	color:#FFF;
	text-decoration:none;
}
.negativ a:hover {color:#FFF;
}

.negativ .dugme {
    border: 2px solid #FFF;
    color: #FFF;
}

.negativ .dugme:hover {
	background: rgba(255, 255, 255, 1);
    color: #895286;
}

#prviRed {
	padding:30px 0;
	text-align:center;
	overflow:hidden;
}

.article {
	background: #FFF;
	width: 40;
	height:300px;
	border: 2px solid #894186;
	border-radius: 15px;
	position:relative;
	text-align:center;
	overflow:hidden;
	margin: 5px 5px 5px 5px;
	float:left;
        
}

.article:nth-of-type(3n) {
	margin-right:0;
        
}

.text {
	position:absolute;
	left:0;
	top:350px;
	padding:40px;
	width:340px;
	height:300px;
	background:rgba(255,255,255,0.3);
        transition: all 0.6s ease;
}

.article:hover .text {
	top:0;
	background:rgba(255,255,255,0.6);
}

#footer {
	background:#894186;
	padding:20px 0;
        margin-top: 5px;
        position: relative;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
	border-radius: 15px;
	text-align:center;
	font-size:18px;
        z-index: 999;
       
}

#reg{
    padding-bottom: 95px;
}

#pocetnaUser{
    padding-bottom: 20px;
}

#rezervacija{
    padding-bottom: 235px;
}