#header { 
	background: #809fff;
/*	border-radius: 15px;*/
	
	height:100px;
	padding:20px 20px 20px 20px;

}
.logo { 
	float:right;
	padding: 0px 50px 0px 0px;
}
#nav { 
	float:left;
}
#nav ul {
	list-style:none;
	margin:0;
	padding:0;
}
#nav ul li {
	float:right;
}

.container { 
/*    background-image: url('../images/sajt_unident_pro.jpg');*/
/*	background:url(images/sajt_unident_pro.jpg) center center repeat fixed;*/
/*        max-width: 100% !important;
        margin:0;*/
	overflow:hidden;
/*	border: 2px solid #894186;*/
/*        border-radius: 15px;*/
}


.dugme {
	background: rgba(9, 65, 201, 0);
    border: 2px solid #894186;
    border-radius: 15px;
    color: #894186;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1;
    padding: 14px 28px 13px;
	margin:20px 5px;
    text-transform: uppercase;
    transition: all 0.2s ease;
}

.dugme:hover {
	background: rgba(9, 65, 201, 1);
	color:#fff;
}
.negativ { 
	color:#fff;
}
.negativ a:link,
.negativ a:visited { 
	color:#FFF;
	text-decoration:none;
}
.negativ a:hover {color:#FFF;
}

.negativ .dugme {
    border: 2px solid #FFF;
    color: #FFF;
}

.negativ .dugme:hover {
	background: rgba(255, 255, 255, 1);
    color: #895286;
}

#prviRed {
	padding:30px 0;
	text-align:center;
	overflow:hidden;
}

.article {
	background: #FFF;
	width: 40;
	height:300px;
	border: 2px solid #894186;
	border-radius: 15px;
	position:relative;
	text-align:center;
	overflow:hidden;
	margin: 5px 5px 5px 5px;
	float:left;
        
}

.article:nth-of-type(3n) {
	margin-right:0;
        
}

.text {
	position:absolute;
	left:0;
	top:350px;
	padding:40px;
	width:340px;
	height:300px;
	background:rgba(255,255,255,0.3);
        transition: all 0.6s ease;
}

.article:hover .text {
	top:0;
	background:rgba(255,255,255,0.6);
}

#footer {
	background:#809fff;
	padding:20px 0;
        position: relative;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
/*	border-radius: 15px;*/
	text-align:center;
	font-size:18px;
        z-index: 999;
       
}

#reg{
/*    padding-top: 70px;*/
}

.registracija-pozadina{
    min-height: calc(100vh - 183px);
    background-image: url('../images/pozadina.jpeg');
    background-position: center;
    background-size: cover; 
}

.reg-wrapper{
       background-color: rgba(128, 159, 255, 0.5);
       padding: 50px;
}

.reg-animacija{
    animation: fade-in 1.4s;
}

#pocetnaUser{
    padding-bottom: 20px;
    padding-top: 20px;
    min-height: calc(100vh - 183px);
}

#rezervacija{
    padding-top: 30px;
    min-height: calc(100vh - 183px);
}



html,body{overflow-x: hidden;}

/*KALENDAR*/

div#calendar{
  margin-top:30px;
  margin-bottom: 30px;
  padding:0px;
  max-width: 602px;
  font-family:Helvetica, "Times New Roman", Times, serif;
  background-color: white;
}
 
div#calendar div.box{
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    height:60px;
    background-color: #809fff ;   
}
 
div#calendar div.header{
    line-height:50px;  
/*    vertical-align:middle;*/
    position:absolute;
    left:11px;
    top:0px;
    width:582px;
    height:40px;   
    text-align:center;
}
 
div#calendar div.header a.prev,div#calendar div.header a.next{ 
    position:absolute;
    top:5px;   
    height: 17px;
    display:block;
    cursor:pointer;
    text-decoration:none;
    color:#FFF;
}
 
div#calendar div.header span.title{
    color:#FFF;
    font-size:30px;
}
 
 
div#calendar div.header a.prev{
    left:0px;
}
 
div#calendar div.header a.next{
    right:0px;
}
 
 
 
 
/*******************************Calendar Content Cells*********************************/
div#calendar div.box-content{
    border:1px solid #809fff ;
    border-top:none;
}
 
 
 
div#calendar ul.label{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-top:5px;
    margin-left: 5px;
/*    font-size: 20px;*/
}
 
div#calendar ul.label li{
    margin:0px;
    padding:0px;
    margin-right:5px;  
    float:left;
    list-style-type:none;
    width:80px;
    height:40px;
    line-height:40px;
    vertical-align:middle;
    text-align:center;
    color:#809fff;
    font-size: 25px;
    font-weight: bold;
    background-color: transparent;
}
 
 
div#calendar ul.dates{
    float:left;
    margin: 0px;
    padding: 0px;
    margin-left: 5px;
    margin-bottom: 5px;
}
 
/** overall width = width+padding-right**/
div#calendar ul.dates li{
    margin:0px;
    padding:0px;
    margin-right:5px;
    margin-top: 5px;
    line-height:80px;
    vertical-align:middle;
    float:left;
    list-style-type:none;
    width:80px;
    height:80px;
    font-size:25px;
    background-color: #e5ebff;
/*    border: 1px solid black;*/
    color:black;
    text-align:center; 
}

div#calendar ul.dates li:hover{
    background-color: #ccd8ff;
    cursor: pointer;
}

/*div#calendar ul.dates li:focus{
    background-color: red;
}*/
 
:focus{
    outline:none;
}
 
div.clear{
    clear:both;
}     

.danas{
    border: 1.5px solid #809fff;
}

/*.danas:hover{
    background-color:#56baf8 !important;
}*/

.kalendar-wrap{
    min-height: calc(100% - 188px);
    overflow: hidden;
    background-image: url('../images/ordinacija.jpg');
    padding: 0 !important;
}

.kalendar-filter{
    background-color: rgba(255, 255, 255, 0.5);
}

/*GOTOV KALENDAR*/

.usluga-slika{
    width: 300px;
    border: 10px solid white;
}

.slika-div{
    display: inline-block;
    position: relative;
/*    width: 50%;*/
}

.slika-hover{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.slika-div:hover .usluga-slika {
  opacity: 0.3;
}

.slika-div:hover .slika-hover {
  opacity: 1;
}

.slika-div:hover{
    cursor: pointer;
}

.usluga-naziv{
    font-size: 30px;
    color: #809fff;
    font-family: Arial, Helvetica, sans-serif;
}

.naslov{
    color: #809fff;
    font-family: Arial, Helvetica, sans-serif;
}

.termini{
    border: 1px solid #809fff;
    height: 450px;
    overflow: auto;
    width: 350px;
    margin-top: 40px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
}

.lekar{
    width: 342px;
/*    margin: 5px;*/
    margin-top: 0px !important;
    padding: 5px;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    background-color: #809fff;
    color: white;

}

.lista-termini{
    padding: 10px;
}

.lista-termini ul{
    padding: 0px;
}

.lista-termini li{
    list-style-type:none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid black;
}

.zauzeto{
    background-color: #ff8080;
}

.slobodno{
    background-color: #8ad8ad;
}

 .lista-termini label{
    display: block !important;
    
}

.slobodno:hover{
    background-color: #6dce98;
}

.lista-termini input{
    visibility:hidden;
}


.lista-termini input[type="radio"]:checked + label {
    background-color: #41bf79 !important;
}

.vreme-dan{
    height: 60px;
    margin: 0px;
    color: white;
    font-size: 35px;
    text-align: center;
}

.zakazi-dugme-div{
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;   
}

.zakazi-dugme{
    height: 50px;
    background-color: #809fff;
    color: white;
    font-size: 20px;
    width: 342px;
    text-align: center;
    border: none;
}




/*SKROL*/

#skrol::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#skrol::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#skrol::-webkit-scrollbar-thumb
{
	background-color: #809fff;
}

.select-doktor{
    background-color: #809fff;
    color: white;
    border: 0.5px solid #D8BFD8;
}

.kalendar-front{
    position: relative;
    z-index: 1000;
}

#termini-div{
    position: absolute;
    top: 0;
    right: 5px;
    z-index: -1;
/*    animation: mymove 2s; */
    -webkit-animation: right-to-left 1s linear forwards;
    animation: right-to-left 1s linear forwards;
}     


@-webkit-keyframes right-to-left{
    from {right: 10px;}
    to {right: -350px;}
}


/*MODAL*/


.modal {
  display: none;
  position: fixed; 
  z-index: 100; 
  padding: 200px 200px 0;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}


.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50% !important;
/*  height: 70vh;*/
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:200px; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}


.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header{
  padding: 2px 16px;
  background-color: #809fff;
  color: white;
}

.modal-body {
    padding: 2px 16px;
    text-align: center;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #809fff;
  color: white;
}

.mask{
    background-color: #f8faff !important;
    cursor: default !important;
}
.pocetna-slider{
    padding: 0 !important;
}

.carousel-item{
    height: 500px;
    position: relative;
}


.carousel-item img {
    opacity:1;
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}

/*
@-webkit-keyframes fade{
    from {opacity:1}
    to {opacity: 0.5}
}*/

.tekst{
    position: absolute;
    top: -20px;
    left: -1000px;
     -webkit-animation: right-to-left1 1s linear forwards;
    animation: right-to-left1 1s linear forwards;
}

.carousel-caption h1{
    font-size: 35px;
    background-color: #809fff;
    padding: 8px;
}

@-webkit-keyframes right-to-left1{
    from {left: -1000px;}
    to {left: 0px;}
}

.podtekst{
    position: absolute;
    top: -28px;
    left: -1000px;
     -webkit-animation: right-to-left1 1s linear forwards;
    animation: right-to-left1 1s linear forwards;
    animation-delay: 1.2s;
}

.carousel-caption p{
    font-size: 20px;
    background-color: #FFDA31;
    padding: 5px;
}

.belo{
    width: 10px;
    background-color: white;
}

.dugme-vise{
    width: 150px;
    padding: 5px;
    background-color: white;
    color: #FFDA31;
    border: 1px solid #FFDA31;
    font-size: 1.1em;
    opacity: 0;
    position: absolute;
    top: -35px;
    left: 5px;
    -webkit-animation: right-to-left2 1s linear forwards;
    animation: right-to-left2 1s linear forwards;
    animation-delay: 2.2s;
}

@-webkit-keyframes right-to-left2{
    from {opacity: 0}
    to {opacity: 100%}
}

.dugme-vise:focus{
    border: 1px solid #FFDA31;
    outline: none;
}

.dugme-vise:hover{
    background-color: #FFDA31;
    color: white;
    text-decoration: none;
}

#carouselExampleIndicators{
    margin-bottom: 3rem;
}


.btn-warning{
    color: white !important;
}

.podnaslov{
    margin-bottom: 4rem;
}

.parallax{
    background-image: url('../images/ordinacija.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
/*    opacity: 0.8;*/
}

.parallax-unutra{
    min-height: 500px;
    width: 100%;
    background-color: rgba(128, 159, 255, 0.8);
}

.parallax-img{
    max-height: 100px;
}

.parallax-pasus{
    margin-top: 40px;
}

.parallax-btn-izgled{
    max-width: 200px;
}

.card{
    margin-left: 20px !important;
    border-left: 1px solid rgba(0,0,0,.125) !important;
}

.card-body h6{
    color: gray;
}

.card-body h3{
    color: #809fff;
}

.card-body h3:hover{
    color: gray;
}

.card-body h3:active{
    color: #FFDA31;
}

.card-body a:hover{
    text-decoration: none;
}

.doktori-pocetna{
    margin-top: 30px;
    margin-bottom: 50px;
}

.onlajn-zakazivanje{
    padding: 0 !important;
}

.parallax1{
    background-image: url('../images/instrumenti.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax1-unutra{
    min-height: 500px;
    min-width: 50%;
    background-color: rgba(128, 159, 255, 0.8);
}


@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}

.fade-in-element-naslov {
    padding-top: 30px;
    padding-bottom: 30px;
    animation: fade-in 1.4s;
    color: white;
}

.hidden {
  opacity: 0;
}

.parallax1-img{
    max-height: 40px;
    max-width: 40px;
    padding: 0;
    position: absolute;
    top: 20%;
    left: 20%;
}

.grafika-korak{
    border: 2px solid white;
    border-radius: 50px;
    display: inline-block;
    padding: 0 !important;
    border-left: none;
    margin-top: 10px;
    position: relative;
/*    max-width: 400px !important;*/
}

.grafika-korak-desno{
    border: 2px solid white;
    border-radius: 50px;
    display: inline-block;
    padding: 0 !important;
    border-right: none;
    margin-top: 10px;
}

.broj-korak{
    position: relative;
    display: inline;
    border: 2px solid white;
    border-radius: 100%;
    float: left;
    height: 70px;
    width: 70px;
}

.broj-korak-desno{
    position: relative;
    display: inline;
    border: 2px solid white;
    border-radius: 100%;
    float: right;
    height: 70px;
    width: 70px;
}

.tekst-korak{
    position: absolute;
    top: 25%;
    left: 30%;
}


.tekst-korak-desno{
    position: absolute;
    top: 25%;
    right: 30%;
}

.malo{
    color: white;
}

.contact-us{
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-outline-warning:hover{
    color: white !important;
}

.cenovnik{
    padding: 0 120px;
    margin: 50px 0;

}

.cenovnik-naslov{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(128,159,255,1) 45%, rgba(255,255,255,1) 100%);
    color: white;
}

.table-hover thead{
    background-color: #809fff;
    color: white;
}

.table-hover tbody{
    background-color: #f2f5ff;
}

.table-hover{
   margin-top: 30px; 
}

.oNama-zaglavlje{
    background-image: url('../images/osmeh.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 150px;
    padding: 0 !important;
}

.oNama-filter{
    background-color: rgba(128, 159, 255, 0.4);
    min-height: 150px;
    width: 100%;
}

.oNama-sredina{
    min-height: 500px;
}

.oNama-sredina p{
    color: gray;
}

.oNama-slika{
    float: left;
    height: 200px !important;
    margin-right: 10px;
}

.oNama-dole{
/*    width: 30%;
    margin-right: 20px;*/
}

.featurette-divider {
  margin: 3rem 0; 
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

.ponuda-sredina{
    color: gray;
}


#termini{
   display: none;
}

.termini-unutra{
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    max-height: 500px;
    overflow: auto;
}

.tabela-termini{
    border-top: none !important;
}

.reset-lozinke{
    background-image: url('../images/ordinacija.jpg');
    min-height: calc(100vh - 183px);
    padding: 0 !important;
}

.lozinka-filter{
    background-color: rgba(255, 255, 255, 0.5);
    min-height: calc(100vh - 183px);
    width: 100%;
}

.lozinka-wrap{
    padding-top: 1%;
}


.modal-content-lozinka {
    background-color: rgba(255, 255, 255, 0.8);
    margin: auto; 
    padding: 0;
    border: 1px solid #888;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
 
}

.modal-header-lozinka{
  padding: 2px 16px;
  background-color: #809fff;
  color: white;
}

.modal-body-lozinka {
    padding: 5% 20%;
    text-align: center;
}

.loader-pozadina{
    display: none;
/*    display: flex;*/
    align-items: center;
    justify-content: center;
    position: fixed; 
    z-index: 1500; 
    padding: 200px 200px 0;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}








