<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo base_url(); ?>/CSS/style.css">
        
        
    </head>
    <body>
        <header id="header" class="negativ">
	    
	    <div>
                 <img src="images/logo_header.png" alt="logo" class="logo">
	            
                                                
	            
	        <nav id="nav">
	            <ul>
                        <li><a href="#" class="dugme">Kontakt</a></li>
	                <li><a href="#" class="dugme">Cenovnik</a></li>
	                <li><a href="#" class="dugme">Galerija</a></li>
	                <li><a href="#" class="dugme">O nama</a></li>
			<li><a href="#" class="dugme">Pocetna</a></li>
	            </ul>
                </nav>  
	    </div>
        </header>    
